# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 576eb3cc9de496d26b8ac1a34e566a8f19123743e6ebedca8516795d006cbd57481ec485bd3938d6eb2d1353b89f381f4035af61a4f4a3d9d48da8fac5dd5115

test:
  secret_key_base: 73ff403f1c660eaa2540d03b79e20728ff02eba362657218c91336b11eb57ed783c7d5c96eb15e0794df9631262e6359f69187a4ea1bceed07255957c5343242

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
